<div class="mt-4">
    <h3>Cập nhật thoong tin ca nhan</h3>

    <form class="mt-4" method="POST" action="/users/{{user._id}}?_method=PATCH" enctype='multipart/form-data'>
        <div class="form-group">
            <label>Firstname</label>
            <input type="text" class="form-control" value="{{user.firstname}}"  name="firstname">
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control" value="{{user.lastname}}"  name="lastname">
        </div> <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" value="{{user.email}}"  name="email">
        </div> <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" value="{{user.phone}}"  name="phone">
        </div> <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" value="{{user.username}}"  name="username">
        </div> <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" value="{{user.password}}"  name="password">
        </div>
        <div class="form-group">
            <label for="">Avatar</label>
           <img src="{{user.avatar}}" alt="">
        </div>

         <div class="form-group">
            <label for=""> Bạn có thể cập nhật avatar</label>
            <input type="file" class="form-control" name="avatar">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>