<body>
    <p>{{coffee.title}}</p>
    <img src="{{coffee.image}}" alt="">
    <h1>Feedback</h1>

    <div>
        <div id="commentForm">
            <input type="text" name="username" id="username">
            <input type="text" name="content" id="content">
            <input name="itemId" id="itemId" value="{{coffee._id}}">
            <button type="button" id="commentSendBtn">Submit</button>
        </div>
    </div>

    <div id="commentBox">
        {{#each commentList}}
        <div id="{{this._id}}">
            <p class="content">{{this.username}}: {{this.content}}</p>
            <ul class="replyList">
                {{#each this.replyList}}
                <li>
                    {{this.username}}: {{this.content}}
                </li>
                {{/each}}
            </ul>
            <div class="replyForm">
                Reply:
                <input type="text" name="me" id="me">
                <input type="text" name="reply" id="reply">
                <input name="commentId" id="commentId" value="{{this._id}}">
                <button type="button" class="replySendBtn" onClick="getCommentId(this)">Reply</button>
            </div>
        </div>
        {{/each}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>

    <script>

        var socket = io("http://localhost:3000")

        function getCommentId(replyButton) {
            const commentId = replyButton.parentElement.parentElement.id
            const data = {
                username: $(`#${commentId} .replyForm #me`).val(),
                content: $(`#${commentId} .replyForm #reply`).val(),
                parentCommentId: commentId,
            }

            $.ajax({
                url: '/coffee/reply-comment',
                method: 'POST',
                data: data,
                success: function (res) {
                    socket.emit("client_send_reply_comment", data)
                }
            });
            return false;
        }



        $(document).ready(function () {
            $("#commentSendBtn").click(function () {

                var data = {
                    username: $("#username").val(),
                    content: $("#content").val(),
                    itemId: $("#itemId").val(),
                }



                $.ajax({
                    url: "/coffee/do-comment",
                    method: "POST",
                    data: data,
                    dataType: 'json',
                    success: function (res) {
                        socket.emit("client_send_comment_to_coffee_item", { comment_id: res._id, comment_body: data })
                    }
                });

                return false;
            });


            socket.on("server_send_comment_to_coffee_item", function (data) {

                var html =
                    `<div id="${data.comment_id}">
                            <p class="content">${data.comment_body.username}: ${data.comment_body.content}</p>
                            <ul class="replyList">
                            </ul>
                            <div class="replyForm">
                                Reply:
                                <input type="text" name="me" id="me">
                                <input type="text" name="reply" id="reply">
                                <input name="commentId" id="commentId" value="${data.comment_id}">
                                <button type="button" class="replySendBtn">Reply</button>
                            </div>
                        </div>`
                $("#commentBox").append(html)
            })

            socket.on("server_send_reply_comment", function (data) {
               
                var html = `<li>${data.username}: ${data.content}</li>`
                const replyList = $(`#${data.parentCommentId} .replyList`)           
                replyList.append(html)
            })


        })

    </script>

</body>