<body>
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}

    <div class="mt-4">
        <h3>Đặt sự kiện tại quán của chúng tôi</h3>

        {{#if 1}}
        <form id="bookEventForm" method="POST" action="/events/save" enctype="multipart/form-data">

            <div class="form-group">
                <label for="eventBooker">Tên của bạn: </label>
                <input type="text" class="form-control" id="eventBooker" name="eventBooker">
            </div>

            <div class="form-group">

                <input type="text" class="form-control" id="username" name="username" value="{{user.username}}">
            </div>


            <div class="form-group">
                <label for="name">Tiêu đề của sự kiện</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>



            <div class="form-group">
                <label for="image">Ảnh nền của sự kiện</label>
                <input type="text" class="form-control" id="image" name="image">
            </div>


            <div class="form-group">
                <label for="no_seating">Số chỗ ngồi</label>
                <input type="text" class="form-control" id="no_seating" name="no_seating">
            </div>

            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" class="form-control" id="email" name="email" value="{{user.email}}">
            </div>

            <div class="form-group">
                <label for="eventStartDate">Ngày bắt đầu: </label>
                <input type="date" class="form-control" id="eventStartDate" name="eventStartDate">
            </div>

            <div class="form-group">
                <label for="eventEnđate">Số lần tối đa được áp dụng mã trong 1 ngày: </label>
                <input type="date" class="form-control" id="eventEnđate" name="eventEnđate">
            </div>

            <div>
                {{#each coffee}}
                <input type="checkbox" id="{{this._id}}" name="{{this.name}}" value="{{this.name}}">
                <label for="{{this._id}}">
                    <a href="#">
                        {{this.name}}: {{this.price}}.000 VNĐ
                    </a>
                </label><br>
                
                {{/each}}

            </div>


            <div>
                {{#each foods}}
                <input type="checkbox" id="{{this._id}}" name="{{this.name}}" value="{{this.name}}">
                <label for="{{this._id}}">
                    <a href="#">
                        {{this.name}}: {{this.price}}.000 VNĐ
                    </a>
                </label><br>
                {{/each}}
            </div>



            <button type="submit" id="createBtn" class="btn btn-primary">Đặt sự kiện</button>
        </form>
        {{/if}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        today = yyyy + '-' + mm + '-' + dd;

        console.log(today)

        document.getElementById('expirationDate').setAttribute("min", today)
        document.getElementById('expirationDate').setAttribute("value", today)

        $(document).ready(function () {
            $("#createBtn").click(function () {



                const discountPercentage = $('#discountPercentage').val()
                const discountAmount = $('#discountAmount').val()
                const condition = $('#condition').val();
                let discount = ''
                if (discountPercentage)
                    discount = discountPercentage + '%'
                if (discountAmount)
                    discount = discountAmount + 'K'

                let name = `Giảm ${discount} cho đơn từ ${condition}K`;
                $('#name').val(name)


                $("#createPromoForm").submit(function () {
                    console.log('Submit')
                })

            })

        })

    </script>

</body>