<body>
    <p id="username">{{cart.username}}</p>
    {{#each cart.itemList}}
    <div id="{{this.book._id}}">
        {{this.book.title}}
        <button onclick="subtract(this)">-</button>
        <button class="quantity">{{this.quantity}}</button>
        <input type="text" class="priceEachItem" value="{{this.book.price}}">
        <button onclick="add(this)">+</button>
        <p class="priceEachItemTotal">{{multiply this.quantity this.book.price}}</p>
    </div>

    {{/each}}
    <label id="totalLabel">Total</label>
    <div id="total"></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        function calculateTotal() {
            var priceList = $(".priceEachItemTotal")
            var total = 0
            for (price of priceList) {
                total += parseInt(price.innerHTML)
            }

            if (total == 0) {
                $("#totalLabel").hide()
                return "Empty Cart"
            }

            return total;
        }


        function subtract(btn) {
           const bookId = btn.parentElement.id;

               

            var quantity = parseInt($(`#${bookId} .quantity`).text());
            var price = parseInt($(`#${bookId} .priceEachItem`).val());
            var username = $('#username').text();
            const data = {bookId: bookId, quantity: quantity, username: username}
            $.ajax({
                url: '/carts/subtract-by-one',
                method: "POST",
                data: data,
                success: function (res) {
                    console.log(res)
                }
            }) 

            if (quantity - 1 == 0)
                $(`#${bookId}`).hide() 

            $(`#${bookId} .quantity`).text(quantity - 1)
            $(`#${bookId} .priceEachItemTotal`).text((quantity - 1) * price)
            $("#total").html(calculateTotal())
        }

        function add(btn) {
            const bookId = btn.parentElement.id;
            var quantity = parseInt($(`#${bookId} .quantity`).text());
            var price = parseInt($(`#${bookId} .priceEachItem`).val());
            var username = $('#username').text();
            const data = {bookId: bookId, quantity: quantity, username: username}
            $.ajax({
                url: '/carts/add-by-one',
                method: "POST",
                data: data,
                success: function (res) {
                    console.log(res)
                }
            }) 

            $(`#${bookId} .quantity`).text(quantity + 1)
            $(`#${bookId} .priceEachItemTotal`).text((quantity + 1) * price)
            $("#total").html(calculateTotal())    
        }

        $("#total").html(calculateTotal())


    </script>
</body>