<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Make your payment</h1>
                        </div>
                        <div id="payment-form">

                            <div class="form-group">
                                <input class="form-control" id="name" name="name" type="text"
                                    value="{{user.lastname}} {{user.firstname}}">
                                <span class="form-label">Name: </span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" id="username" name="username" type="text"
                                    value="{{user.username}}">
                                <span class="form-label"></span>
                            </div>

                            <div class="form-group">
                                <input class="form-control" id="address" name="address" type="text"
                                    placeholder="Address">
                                <span class="form-label">Address</span>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" id="email" type="email"
                                            placeholder="Enter your Email" required>
                                        <span class="form-label">Email</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="token" name="token" 
                                            type="text"
                                            placeholder="Nhập mã xác thực chúng tôi vừa gửi bạn qua email này" required>
                                        <span class="form-label">Mã xác thực</span>
                                        <button id="getToken">Lấy mã xác thực</button>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone"
                                            placeholder="Enter you Phone">
                                        <span class="form-label">Phone</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="total" name="total" value={{coffee.price}}>
                                        <span class="form-label">Total: </span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="itemId" name="itemId" value="{{coffee._id}}">
                                        <span class="form-label"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-btn">
                                <button class="submit-btn" id="purchaseBtn">Purchase Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            var validToken = ''

            $('#getToken').click(function () {

                var email = $('#email').val()

                if (email.length == 0) {
                    alert("Vui lòng nhập email để lấy mã xác thực qua email này")
                    return false;
                }

                const data = {
                    email: email
                }
                $.ajax({
                    url: '/email/send-token',
                    method: 'POST',
                    data: data,
                    success: function (res) {
                        if (!res.isError) {
                            validToken = res.token
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            })

            $('#purchaseBtn').click(function () {
                const userToken = $('#token').val()
                console.log(userToken)
                if (userToken == '' || userToken != validToken) {
                    alert("Mã xác thực không hợp lệ");
                } else {
                    const data = {
                        name: $('#name').val(),
                        username: $('#username').val(),
                        address: $('#address').val(),
                        email: $('#email').val(),
                        phone: $('#phone').val(),
                        total: $('#total').val(),
                        itemId: $('#itemId').val(),
                    }

                    $.ajax({
                        url: '/coffee/buy',
                        method: 'POST',
                        data: data,
                        success: function (res) {
                            alert("Đặt hàng thành công")
                        },

                    })

                }
            })




        })
    </script>

</body>